# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec
*.manifest

# Virtual Environments
.venv/
venv/
env/
ENV/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Windows
Thumbs.db
[Dd]esktop.ini

# IDEs
.vscode/
.idea/

# Local logs & temp
*.log
*.tmp
